.wrapper {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 5px 5px 10px #eee;

    .Container {
        min-height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .Timer {
            margin-bottom: 20px;
            font-size: 32px;

        }

        .TimerStart {
            margin-right: 10px;
        }

        .trackerDailyHistory {
            list-style-type: none;
            margin: 20px 0 20px;
            padding: 0;
        }

        .Total {
            font-weight: 700;
            font-size: 22px;
            width: 100%;
            text-align: right;
            padding-right: 30px;
        }
    }
}





